<!doctype html>
<html lang="en">
    
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">

    <title>Community Garden</title>
   </head>
    <body>
        <div id=wrapper>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Community Garden</a>
                <button class="navbar-toggler" type="button" ia-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/information">Information<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/volunteer">Volunteer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>

        <div class="jumbotron">
            <h1 class="display-4">The Community Garden</h1>
             <p class="lead">Information</p>
        </div>
        
    <!-- Search Bar-->
     <center><div class="container">
        <h1>Choose Your Crop</h1>   
        <form method='POST' action="/information" style="font-size:20px;">
                 <select id="selectedOption" name="selectedOption">
                        <option value="" hidden>Select Your Crop</option>
                        <option value="1">Tomataoes</option>
                        <option value="2">Basil</option>
                        <option value="3">Lettuce</option>
                        <option value="4">Carrots</option>
                        <option value="5">Asparagus</option>
                        <option value="6">Beans</option>
                        <option value="7">Beets</option>
                        <option value="8">Broccoli</option>
                        <option value="9">Brussels Sprouts</option>
                        <option value="10">Cabbage</option>
                        <option value="11">Cauliflower</option>
                        <option value="12">Celery</option>
                        <option value="13">Chives</option>
                        <option value="14">Collard Greens</option>
                        <option value="15">Cucumbers</option>
                        <option value="16">Sweet Corn</option>
                        <option value="17">Eggplant</option>
                        <option value="18">Onion</option>
                        <option value="19">Garlic</option>
                        <option value="20">Kale</option>
                        <option value="21">Cantaloupe</option>
                        <option value="22">Parsnips</option>
                        <option value="23">Peas</option>
                        <option value="24">Bell Pepepr</option>
                        <option value="25">Potatoes</option>
                        <option value="26">Pumpkin</option>
                        <option value="27">Radish</option>
                        <option value="28">Rhubarb</option>
                        <option value="29">Spinach</option>
                        <option value="30">Summer Squash</option>
                        <option value="31">Swiss Chard</option>
                        <option value="32">Turnip</option>
                        <option value="33">Watermelon</option>
                        <option value="34">Winter Squash</option>
                        <option value="35">Thyme</option>
                        <option value="36">Oregano</option>
                        <option value="37">Rosemary</option>
                        <option value="38">Cilantro</option>
                        <option value="39">Parsley</option>
                        <option value="40">Mint</option>
                        <option value="41">Sage</option>
                        <option value="42">Tarragon</option>
                        <option value="43">Okra</option>
                        <option value="44">Sweet Potato</option>
                        <option value="45">Dill</option>
                    </select>
            <input  style=" color:#7895A4" type="submit" value="Show Crop"> 
    </style>

    <!--Displayin Information-->
    <div class = "displayInfo">
        <h1 class="plantName"> <%=data.name %> </h1>
        <img class ="image" src="https://res-4.cloudinary.com/do6bw42am/image/upload/c_scale,f_auto,h_300/v1/<%=data.image_url%>" alt = "Image of Plant"></img>
        <p class="plantDescription"> <b><%=data.description %> </b> </p>
        <p class = "os"> <b>Sun </b> : <%=data.optimal_sun %> </p>
        <p class = "soilo"> <b>Soil</b> : <%=data.optimal_soil %> </p>
        <p class = "seed"> <b>From the Seed</b> : <%=data.growing_from_seed %> </p>
        <p class = "wtp"> <b>When to Plant</b> : <%=data.when_to_plant %> </p>
        <p class = "space"> <b>Spacing</b> : <%=data.spacing %> </p>
        <p class = "water"> <b>Watering</b> : <%=data.watering %> </p>
        <p class = "feed"> <b>Feed</b> : <%=data.feeding %> </p>
        <p class = "Harvesting"> <b>Harvesting</b> : <%=data.harvesting %> </p>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>